/*Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 150px;
}

body {
    width: 100%;
    column-width: 50%;
    height: 100vh;
    margin: 0;
    background-color: white;
}


header nav{ 
    width: 100%;
    background-color: #020041;
    display: flex;
    align-items: center;
    padding: 20px;
    height: 50px;
    top: 0;
    left: 0;
}

.menu{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: left;
}

.rightMenu{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

nav ul {
    top:55px;
}

nav ul li a{
    margin: 0 10px;
    color: white;
    text-decoration: none;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 10px;
    justify-content: flex-start;
}

nav ul li a:hover {
    background-color: #004080
}

/*
main {
    background-color: aqua;
} */

.section1 nav ul {
    margin-left: 50px;
    list-style: none;
    padding: 0;
    display: flex;
    background-color: white;
    border-bottom: 1px solid white;
    margin-bottom: 0px;
}

.section1 nav ul li {
    margin: 0 4px;
}


.pre-Nav{
    padding: 20px 15px;
    list-style-type: none;
    margin-bottom: 20px;
}

.pre-Nav li{
    margin-right: 10px;
}

.pre-Nav li a{
    text-decoration: none;
    color: gray;
}
/*coded as aside but might be article*/
.section1 h1{
    font-size: 2rem;
    margin-bottom: 10px;
}

.section1 h4{
    font-size: 2rem;
    margin-bottom: 1em;
}

.Mobile{
    display: none;
}

.AKA, .Desktop{
    font-size: 0.9rem;
    color: gray;
    margin-bottom: 20px;
    font-style: italic;
}

.Desktop{
    text-decoration: dotted;
}

.AKA::before{
    content: 'Alternate Titles:';
}

/*Trouver solution pour button*/

button {
    display: inline-block;
    padding: 0px 12px;
    margin-right: 1px;
    text-decoration: none;
    background-color: #ffffff;
    color: #1711b4;
    border-radius: 5px;
    font-size: 0.9rem;
}

button:hover {
    background-color: #005f8d;
    color: white;
}

.actions {
    color: #020041;
    background-color: lightgray;

}

/*Aside Not Working*/

aside{
    width: 30%;
    display: flex;
    flex-basis: 30%;
    justify-content: space-evenly;
    text-align: center;
    border: 1px solid gray;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: lightgrey;
    position : absolute;
    top : 150px;
}

aside article section img{
    width: 100%;
    height: auto;
    justify-content: center;
}

aside section p{
    font-size: 2rem;
    margin-bottom: 15px;
}

aside p{
    margin-bottom: 10px;
}

aside button {
    font-size: 0.8rem;
    padding: 5px 10px;
    display: block;
    margin: 0 auto;
}

article {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 30%;
}
